@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table>
    <tr style="height:80px">
        <td>
            
        </td>
    </tr>
    <tr>
        <td style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; font:300">
            A native cloud application (NCA) is a program that is designed specifically for a cloud computing architecture.

            NCAs are designed to take advantage of cloud computing frameworks, which are composed of loosely-coupled <br/>cloud services. That means that developers must break down tasks into separate services that can run on several servers in different locations. <br>Because the infrastructure that supports a native cloud app does not run locally, NCAs must be planned with redundancy in mind so the application can withstand equipment failure and be able to re-map IP addresses automatically should hardware fail.
        </td>
    </tr>
    <tr style="height:20px">

    </tr>
    <tr>
        <td>

            <img src="~/Images/cloud native app.jpg" />
        </td>
    </tr>
       <tr>
           <td>
               <div class="jumbotron">
                   <h2>Pivotal Cloud Foundry Architecture</h2>
                   <img src="~/Images/PCF -ach.svg" width="900" height="500" />
               </div>
           </td>
       </tr>
   <tr>
       <td>

       </td>
   </tr>

</table>
<ul>
    <li>
        <a href=" https://steeltoe.io/">Steeltoe</a>
    </li>
    <li>
        <a href="https://12factor.net/">What is 12 factor App</a>
    </li>
</ul>