@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table style="height:100px"></table>
<div class="jumbotron">
   Here are the Examples for Steelteo and Microservices 
    <a asp-controller="Store" asp-action="Customerdetails">
    Click here to get response of Anothher Microservice</a>
  
</div>